@model TopBloggers.ViewModels.Home.HomeArticlesViewModel

@{
    ViewBag.Title = "Home";
}

<div id="home">
    <header data-aos="fade-right">
        <h1>TOP BLOGGERS</h1>
        <h3>Delivering top content to top readers</h3>
        <h3>All the latest articles about various topics in one place</h3>
    </header>

    <div id="home-content" class="container" data-aos="fade-up">
        <section id="top-blog-article-section section-content">
            <h1 class="headline-text">TOP TRENDING BLOG POSTS</h1>
            <div class="blog-article-content">
                @if (Model.TopArticles.Any())
                {
                    foreach (var article in Model.TopArticles)
                    {
                        <article class="article-listing-item">
                            <h5 class="article-listing-author-date"><a href="/authors/profile/@article.AuthorUrl">By: @article.Author.Name @article.Author.Surname</a>- @article.CreatedDate.ToShortDateString()</h5>
                            <a href="/blogs/article/@article.Url"><img src="~/Images/BlogArticles/@article.Image" class="blog-img" alt="@article.Image" data-aos="fade-up"/></a>
                            <h3><a class="article-listing-title-link" href="/blogs/article/@article.Url">@article.Title</a></h3>
                            <p class="article-listing-description">@article.Description <span class="read-more"><a class="read-more-link" href="/blogs/article/@article.Url">read more</a></span></p>
                            <span><i class="fa fa-eye"></i> @article.Views views <i class="fa fa-thumbs-o-up"></i> @article.Likes likes</span>
                            <h5 class="article-listing-category">Category</h5>
                            @Html.ActionLink(article.Category.Name, "Cat", "Categories",new { id = article.CategoryID }, null )
                        </article>
                    }
                }
                else
                {
                    <h2>No Articles At The Moment</h2>
                }
            </div>
        </section>

        <section id="latest-blog-article-section" data-aos="fade-right">
            <h1 class="headline-text">LATEST BLOG POSTS</h1>
            <div class="blog-article-content">
                @if (Model.TopArticles.Any())
                {
                    foreach (var article in Model.LatestArticles)
                    {
                        <article class="article-listing-item">
                             <h5 class="article-listing-author-date"><a href="/authors/profile/@article.AuthorUrl">By: @article.Author.Name @article.Author.Surname</a>- @article.CreatedDate.ToShortDateString()</h5>
                            <a href="/blogs/article/@article.Url"><img src="~/Images/BlogArticles/@article.Image" class="blog-img" alt="@article.Image" data-aos="fade-up" /></a>
                            <h3><a class="article-listing-title-link" href="/blogs/article/@article.Url">@article.Title</a></h3>
                            <p class="article-listing-description">@article.Description <span class="read-more"><a class="read-more-link" href="/blogs/article/@article.Url">read more</a></span></p>
                            <span><i class="fa fa-eye"></i> @article.Views views <i class="fa fa-thumbs-o-up"></i> @article.Likes likes</span>
                            <h5 class="article-listing-category">Category</h5>
                            @Html.ActionLink(article.Category.Name, "Cat", "Categories",new { id = article.CategoryID }, null )
                        </article>
                    }
                }
                else
                {
                    <h2>No Latest Articles At The Moment</h2>
                }
            </div>
        </section>

        <section id="trending-blog-article-section" data-aos="fade-right">
            <h1 class="headline-text">FEATURED BLOGS</h1>
            <div class="blog-article-content">
                @if (Model.TopArticles.Any())
                {
                    foreach (var article in Model.FeaturedArticles)
                    {
                        <article class="article-listing-item">
                             <h5 class="article-listing-author-date"><a href="/authors/profile/@article.AuthorUrl">By: @article.Author.Name @article.Author.Surname</a>- @article.CreatedDate.ToShortDateString()</h5>
                            <a href="/blogs/article/@article.Url"><img src="~/Images/BlogArticles/@article.Image" class="blog-img" alt="@article.Image" data-aos="fade-up" /></a>
                            <h3><a class="article-listing-title-link" href="/blogs/article/@article.Url">@article.Title</a></h3>
                            <p class="article-listing-description">@article.Description <span class="read-more"><a class="read-more-link" href="/blogs/article/@article.Url">read more</a></span></p>
                            <span><i class="fa fa-eye"></i> @article.Views views <i class="fa fa-thumbs-o-up"></i> @article.Likes likes</span>
                            <h5 class="article-listing-category">Category</h5>
                           @Html.ActionLink(article.Category.Name, "Cat", "Categories",new { id = article.CategoryID }, null )
                        </article>
                    }
                }
                else
                {
                    <h2>No Featured Articles At The Moment</h2>
                }
            </div>
        </section>

        <section id="author-popular-section" data-aos="fade-left">
            <h1 class="headline-text">POPULAR TRENDING AUTHORS</h1>
            <div class="author-content">
                @if (Model.TopArticles.Any())
                {
                    foreach (var author in Model.PopularAuthors)
                    {
                        var authorProfileImg = author.ProfileImage ?? "user-placeholder.png";
                        <div class="author-item" data-aos="fade-left">
                            <a href="/authors/profile/@author.AuthorUrl"><img src="~/Images/Authors/@authorProfileImg" class="author-img" alt="@author.Name-@author.Surname-author-image" /></a>
                            <div class="author-item-details">
                                <a href="/authors/profile/@author.AuthorUrl"><h2>@author.Name @author.Surname</h2></a>
                                <h4>Articles: @author.Articles.Count</h4>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <h2>No Trending Authors At The Moment</h2>
                }
            </div>
        </section>
    </div>
</div>
