@model TopBloggers.ViewModels.Blogs.BlogArticleViewModel

@{
    ViewBag.Title = Model.BlogArticle.Title;
}

<div id="article">
    <div id="article-content-container" class="container" data-aos="fade-left">
        <div class="article-contents">
            <article id="@Model.BlogArticle.BlogArticleID" class="article-item">
                <img src="~/Images/BlogArticles/@Model.BlogArticle.Image" class="article-img" alt="@Model.BlogArticle.Image" />
                <h1 class="article-title">@Model.BlogArticle.Title</h1>
                <h4 class="article-author"><a href="/authors/profile/@Model.AuthorUrl">By @Model.BlogArticle.Author.Name @Model.BlogArticle.Author.Surname</a> - @Model.BlogArticle.CreatedDate.ToShortDateString()</h4>
                <p class="article-description">@Model.BlogArticle.Description</p>
                <span><i class="fa fa-eye"></i> @Model.BlogArticle.Views views <i class="fa fa-thumbs-o-up"></i> @Model.BlogArticle.Likes likes</span>
                <div class="article-text-section">
                    <p class="article-text">@Model.BlogArticle.Text</p>
                </div>
            </article>
            <div class="more-articles-container">
                <h2 class="more-articles-title">More Articles by @Model.BlogArticle.Author.Name @Model.BlogArticle.Author.Surname</h2>
                @if (Model.AuthorArticles.Any())
                {
                    foreach (var article in Model.AuthorArticles)
                    {
                        <article>
                            <h3 class="article-listing-title-ma"> <a href="/blogs/article/@article.Url">@article.Title</a></h3>
                            <a href="/blogs/article/@article.Url"><img src="~/Images/BlogArticles/@article.Image" class="blog-img-ma" alt="@article.Image" data-aos="fade-up"/></a>
                            <h5 class="article-listing-author-date"> <a href="/authors/profile/@article.AuthorUrl">By: @article.Author.Name @article.Author.Surname</a>- @article.CreatedDate.ToShortDateString()</h5>
                            <p class="article-listing-description-ma">@article.Description <span class="read-more"><a class="read-more-link" href="/blogs/article/@article.Url">read more</a></span></p>
                            <hr class="ma-line"/>
                        </article>
                    }
                }
                else
                {
                    <h3>No Other Articles By @Model.BlogArticle.Author.Name</h3>
                }
            </div>
        </div>
        <div class="related-articles-section">
            <h2>Related @Model.BlogArticle.Category.Name Articles</h2>
            <hr class="article-line"/>
            <div class="related-article-items">
                <div class="related-article-item">
                    @if (Model.RelatedArticles.Any())
                    {
                        foreach (var article in Model.RelatedArticles)
                        {
                            <article>
                                <h5 class="article-listing-author-date">By: @article.Author.Name @article.Author.Surname - @article.CreatedDate.ToShortDateString()</h5>
                                <a href="/blogs/article/@article.Url"><img src="~/Images/BlogArticles/@article.Image" class="blog-img-ma" alt="@article.Image" data-aos="fade-up" /></a>
                                <h3 class="article-listing-title"> <a href="/blogs/article/@article.Url">@article.Title</a></h3>
                                <p class="article-listing-description-ma">@article.Description <span class="read-more"><a class="read-more-link" href="/blogs/article/@article.Url">read more</a></span></p>
                            </article>
                        }
                    }
                    else
                    {
                        <h3>No Related Articles</h3>
                    }
                </div>
            </div>
        </div>
    </div>

</div>