<ul class="nav-list">
    <li class="nav-item">@Html.ActionLink("Home", "Index", "Home")</li>
    <li class="nav-item">@Html.ActionLink("Authors", "Index", "Home")</li>
    <li class="nav-item">@Html.ActionLink("Blogs", "Index", "Blogs")</li>
    <li class="nav-item">@Html.ActionLink("Subscribe", "Index", "Home")</li>
    <li class="nav-item">@Html.ActionLink("Admin", "Index", "Home")</li>
</ul>